*{
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
body{
    color: #222;
}
img{
    max-width: 100%;
}
main{
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
}
header{
    display:flex;
    justify-content:space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;
}
header a{
    text-decoration:none;
    color: inherit;
}
header a.logo{
    font-weight: bold;
    font-size: 1.5rem;
}
header nav{
    display:flex;
    gap: 24px;
}

div.post{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
}
@media screen and (min-width: 700px) {
    div.post{
        grid-template-columns: .9fr 1.1fr;
    }
}

div.post div.texts h2{
    margin:0;
    font-size: 2rem;
}
div.post div.texts a{
    text-decoration:none;
    color: inherit;
}
div.post p.info{
    margin:24px 0;
    color: #888;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
}
div.post p.info a.author{
    color:#333;
}

form.login, form.register{
    max-width: 400px;
    margin: 0 auto;
}
input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 5px 7px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}
button{
    cursor: pointer;
    width: 100%;
    display: block;
    background-color: #555;
    border:0;
    color: #fff;
    border-radius: 5px;
    padding: 7px 0;
}
form.login h1, form.register h1{
    text-align: center;
}

.dropdown, .nav, header {
    position: relative;
 }

/* Categories button overall design */
.dropdown-toggle {
    position: relative;
    display: inline-block;
    padding: 8px 8px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color:transparent; 
    color: #000000;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Categories button when dropdown is opened */
.dropdown-toggle.opened {
    background-color: rgb(93, 82, 255); 
    color: #ffffff;
}

/* Categories button hover state */
.dropdown-toggle:hover {
    background-color: rgb(93, 82, 255); 
    color: #ffffff;
    transform: scale(1.02); 
}

/* Categories button active state (when it's being clicked) */
.dropdown-toggle:active {
    transform: scale(0.98); /* Slightly shrinks the button */
    background-color: rgb(93, 82, 255); 
    color: #ffffff;
}

/* Dropdown menu content */
.dropdown-menu {
    left: 0; /* Align to the left of the .dropdown-toggle button */
    position: absolute;
    z-index: 1000;
    margin-top: 0px;
    background-color:rgba(245, 245, 245, 0.899);
    padding-right: 70px;
    padding-bottom: 15px;
    border-radius: 13px;
}

.dropdown-menu li:hover {
    color: rgb(93, 82, 255);
}

.dropdown-menu li {
    list-style-type: none; /* Remove bullet points */
    font-weight: bold;
    text-decoration: underline;
    color: #000000;
    margin-left: -31px;
}

/* Logout button overall design */
.logout-button {
    display: inline-block;
    padding: 5px 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color:transparent; 
    color: #000000;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

}

/* Categories button hover state */
.logout-button:hover {
    background-color: rgb(93, 82, 255); 
    color: #ffffff;
    transform: scale(1.02); 
}

/* Categories button active state (when it's being clicked) */
.logout-button:active {
    transform: scale(0.98); /* Slightly shrinks the button */
}

 